@model MemberResetPasswordViewModel
@{
    ViewData["Title"] = "Forgot";
}

<form asp-action="resetpassword" method="post">
    <div class="login-form">
        <h4 class="login-title">Forgot Password</h4>
        <p><span class="font-weight-bold">I am a customer</span></p>
        <div class="row">
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="mb-0 form-control"
                       placeholder="Enter your username">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="col-md-12 col-12 mb--15">
                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" class="mb-0 form-control"
                       placeholder="Enter your username">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-outlined">Login</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="Email" value="@Model.Email" />
    <input type="hidden" name="Token" value="@Model.Token" />
</form>
