@model PostBookCommentViewModel

<h2 class="title-lg mb--20 pt--15">ADD A REVIEW</h2>
<div class="rating-row pt-2">
    <p class="d-block">Your Rating</p>
    <span class="rating-widget-block">
        <input type="radio" name="star" id="star1">
        <label for="star1"></label>
        <input type="radio" name="star" id="star2">
        <label for="star2"></label>
        <input type="radio" name="star" id="star3">
        <label for="star3"></label>
        <input type="radio" name="star" id="star4">
        <label for="star4"></label>
        <input type="radio" name="star" id="star5">
        <label for="star5"></label>
    </span>
    <form action="https://demo.hasthemes.com/pustok-preview/pustok/" class="mt--15 site-form ">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Text">Comment</label>
                    <textarea asp-for="Text" cols="30" rows="10"
                              class="form-control"></textarea>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="submit-btn">
                    <a href="#" class="btn btn-black">Post Comment</a>
                </div>
            </div>
        </div>
    </form>
</div>